*{
	margin: 0;
	padding: 0;
	font-family:webfont;
}

@font-face {
	font-family: webfont;
	src: url(font/webfont.ttf);
}


html,body,aside{
	height: 30%;
}

form{
	display: none;
}

body{
	margin: 0 auto;
	background:indianred;
	font-family: webfont.ttf;
	background-attachment: fixed;
	background-position: center center;
}



.jianjie1 {
	width: 50px;
	height: 120px;
	position: fixed;
	background: darkorange;
	top: 30px;
	text-align: center;
	line-height: 24px;
	color: :white;
	padding-top: 30px;

}

.jianjie2 {
	width: 50px;
	height: 120px;
	position: fixed;
	background: darkslateblue;
	top: 190px;
	text-align: center;
	line-height: 24px;
	color:white;
	padding-top: 30px;
}

.jianjie3 {
	width: 50px;
	height: 120px;
	position: fixed;
	background: lightskyblue;
	top: 350px;
	text-align: center;
	line-height: 24px;
	color:white;
	padding-top: 30px;

}

a{
	color: white;
}

.touxiang{
	width: 1000px;
	height: 180px;
	margin: 0 auto;
	text-align: center;
	padding: 30px;
	background: white;
	margin-top: 30px;
	line-height: 18px;
	border-radius: 8px;

}

.ziliao img{
	width:13%;
}
		
.n2{
	width: 1000px;
	height: 700px;
	margin: auto;
	text-align: center;
	padding: 30px;
	background: white;
	margin-top: 60px;
	line-height: 30px;
	border-radius: 8px;
	margin-bottom: 50px;
	display: flex;
	flex-wrap:wrap;
}
		
.n2div{
	width: 200px;
	height: 250px;
	float: left;
	margin: 25px;
	margin-bottom: 80px;
}

.n2div p{
	font-family: webfont.ttf;
	font-size: 15px;
	color:dimgray;
}

.n2div img{
	width: 100%;
	height:100%;
}

h3{
	font-family: webfont.ttf;
	font-size: 20px;
}

.ziliao  {
	font-family: webfont;
	font-size: 12px;
	text-align:center;
	height: 300px;

}

.n2div img:hover{
	width: 105%;
	height:auto; 

}

.jianjie div:hover{
	width: 105%;
	height:auto;

}



@media only screen and (max-width: 1100px) {
	.center{
		width: 100%;
		height: auto;
		background-color: #fcc00d;
}
	aside {
		width: 100%;
		text-align: center;

}


.n2 {
	width: 93%;
	height: auto;
	padding: 30px;

}

.touxiang {
	width: 100%;
	height: auto;
	padding: 0 1rem;
	box-sizing: border-box;

}

.ziliao{
	width: 100%;
	height: 100%;
}

.touxiang img{
	width: 13%;
	height: auto;
}





























